
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1541701612-a607b59f49ff?ixlib=rb-');">
        <div class="banner-content">
        <div class="banner-content">
          <h1> Let's party hard with our cocktails!!!</h1>



  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-sm-3 ">
          <div class="card">
            <div class="card-description">
              <h2><%=cocktail.name %></h2>
              <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
            </div>
            <%= link_to "", cocktail_path(cocktail), class:"card-link"  %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>







